body{
  display: flex;
  justify-content: center;

}

#links {
  color: black;
  text-decoration: none;

}

#link-div{
  background-color: teal;
  border: 1px solid black;
  color: white;
  margin: 10px;
  text-align: center;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}